botocore==1.41.2
Django==5.2.8
djangorestframework==3.16.1
django-cors-headers==4.9.0
psycopg2-binary==2.9.11
pgvector==0.4.1
boto3==1.41.2
Pillow==10.4.0
torch==2.9.1
open_clip_torch==3.2.0
drf-spectacular==0.29.0
djangorestframework-camel-case==1.4.2
python-decouple==3.8
dj-database-url==2.3.0
celery==5.5.3
redis==7.1.0
requests==2.32.5
insightface==0.7.3
onnxruntime==1.23.2
django-extensions==4.1
gunicorn==23.0.0
